<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta charset="UTF-8">
        <title>Super Micro Paint</title>
        <link href='//fonts.googleapis.com/css?family=Roboto:100,400' rel='stylesheet' type='text/css'>
        <link href="../assets/css/export.css" rel="stylesheet">
        <link href="../assets/icomoon/style.css" rel="stylesheet">
        <script src="../assets/lib/lodash.min.js"></script>
        <script src="../assets/lib/gif.js"></script>
        <script src="../assets/lib/array2d.js"></script>
        <script src="../assets/lib/super-pixel-grid.js"></script>
        <script src="../assets/lib/jquery.min.js"></script>
        <script src="../assets/lib/angular.min.js"></script>
        <script src="../assets/lib/es6-promise.min.js"></script>
        <script src="../app/components/gif/upload.js"></script>
        <script src="../app/components/gif/gifController.js"></script>
</head>
<body ng-app="super-micro-paint" ng-controller="gifController">
    <div id="top">
        <div id="output"></div>
    </div>
    <div id="controls">
        <h2>Settings</h2>
        <label><span>Mode</span><select ng-model="renderMode" ng-options="k as k for (k, v) in renderModes" ng-change="modeChanged()"></select></label>

        <label ng-show="!modeUsesDualColors(renderModes[renderMode])"><span>Color Scheme</span><select ng-model="colors" ng-options="k as k for (k, v)  in renderModes[renderMode].colors" ng-change="colorsChanged()"></select></label>

        <label ng-show="modeUsesDualColors(renderModes[renderMode])"><span>1st Color</span><select ng-model="colors" ng-options="k as k for (k, v)  in renderModes[renderMode].colors.set1" ng-change="colorsChanged()"></select></label>

        <label ng-show="modeUsesDualColors(renderModes[renderMode])"><span>2nd Color</span><select ng-model="colors2" ng-options="k as k for (k, v)  in renderModes[renderMode].colors.set2" ng-change="colorsChanged()"></select></label>

        <label><span>Scale</span><select ng-model="scale" ng-options="s.scale as s.label for s  in scales | filter:validScale" ng-change="scaleChanged()"></select></label>

        <label><span>Speed</span><select ng-model="delay" ng-options="s.delay as s.label for s  in speeds" ng-change="speedChanged()"></select></label>

        <label><span>Invert</span><input type="checkbox" ng-model="invert" ng-options="s.delay as s.label for s  in speeds" ng-change="invertChanged()"></select></label>

        <div class="actions">
        <h2>Share Your Masterpiece</h2>
        <label><span>Choose a title</span><input type="text" ng-model="gifTitle" onclick="this.select()"></input></label>
        <label><span>Upload</span><button ng-click="upload()" ng-disabled="!isReady">Upload to imgur</button></label>        <div class="uploading" ng-show="isUploading"></div>
        <div class="postupload" ng-show="(gifId != '')">
            <label><span>Twitter</span><a href="https://twitter.com/home/?status=Check out this gif I made with @supermicropaint {{gifShareUrl}}" class="tweet btn" target="_blank">Share on Twitter</a></label>
            <label><span>Facebook</span><a href="https://www.facebook.com/sharer/sharer.php?u={{gifShareUrl}}" class="tweet btn" target="_blank">Share on Facebook</a></label>
            <label><span>Google+</span><a href="https://plus.google.com/share?url={{gifShareUrl}}" class="tweet btn" target="_blank">Share on Google+</a></label>
            <label><span><a href="{{gifDirectUrl}}" target="_blank">Direct link to gif</a></span><input type="text" value="{{gifDirectUrl}}" onclick="this.select()"></label>
            <label><span><a href="{{gifUrl}}" target="_blank">Link to imgur</a></span><input type="text" value="{{gifUrl}}" onclick="this.select()"></label>
            <label><span>Preview / <br /> View on imgur</span><a href="{{gifUrl}}" target="_blank"><img src="{{gifDirectUrl}}"></a></label>
        </div>
        <h2>Other Links</h2>
        <label><span><a href="{{editPage}}">Back to Editing</a></span><input type="text" value="{{editPage}}" onclick="this.select()"></label>
        <label><span><a href="{{currentPage}}">This Page</a></span><input type="text" value="{{currentPage}}" onclick="this.select()"></label>
    </div>
</body>
</html>