<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Super Micro Paint</title>
        <link href='//fonts.googleapis.com/css?family=Fugaz+One&text=SuperMicroPaint1234PreviewExport!' rel='stylesheet' type='text/css'>
        <link href="assets/css/style.css" rel="stylesheet">
        <link href="assets/icomoon/style.css" rel="stylesheet">
        <script src="assets/lib/lodash.min.js"></script>
        <script src="assets/lib/array2d.js"></script>
        <script src="assets/lib/super-pixel-grid.js"></script>
        <script src="assets/lib/jquery.min.js"></script>
        <script src="assets/lib/angular.min.js"></script>
        <script src="app/shared/touchDirectives.js"></script>
        <script src="app/components/smp/smpController.js"></script>
        <meta name="viewport" content="width=950">
    </head>
    <body ng-app="super-micro-paint" ng-controller="smpController" ng-touchcancel="penUp('outside')" ng-mouseup="penUp('outside')" ng-touchend="penUp('outside')">
    <div class="main">
      <div class="case" ng-class="{'hide': showManual}"  ng-click="(!showManual) || (showManual = false)">
        <h1>Super Micro Paint</h1>
        <div class="container">
            <div class="tools drawing-tools">
              <label class="btn" ng-class="{'active': activeTool == 'pencil'}">
                <input type="radio" name="tool" ng-model="activeTool" value="pencil" checked ng-disabled="mode != 'normal'">
                <span class="icon-pencil"></span>
              </label>
              <label class="btn" ng-class="{'active': activeTool == 'fill'}">
                <input type="radio" name="tool" ng-model="activeTool" value="fill" ng-disabled="mode != 'normal'">
                <span class="icon-fill"></span>
              </label>
              <label class="btn" ng-class="{'active': activeTool == 'line'}">
                <input type="radio" ng-model="activeTool" value="line" ng-disabled="mode != 'normal'">
                <span class="icon-line"></span>
              </label>
              <label class="btn" ng-class="{'active': activeTool == 'rectangle'}">
                <input type="radio" ng-model="activeTool" value="rectangle" ng-disabled="mode != 'normal'">
                <span class="icon-square"></span>
              </label>
              <label class="btn" ng-class="{'active': activeTool == 'ellipse'}">
                <input type="radio" ng-model="activeTool" value="ellipse" ng-disabled="mode != 'normal'">
                <span class="icon-circle"></span>
              </label>
            </div>
            <div class="tools picture-tools">
              <label class="btn">
                <button type="button" ng-click="nudge(-1, 0)" ng-disabled="mode != 'normal'">
                <span class="icon-left"></span>
                </button>
              </label>
              <label class="btn">
                <button type="button" ng-click="nudge(1, 0)" ng-disabled="mode != 'normal'">
                <span class="icon-right"></span>
                </button>
              </label>
              <label class="btn">
                <button type="button" ng-click="nudge(0, -1)" ng-disabled="mode != 'normal'">
                <span class="icon-up"></span>
                </button>
              </label>
              <label class="btn">
                <button type="button" ng-click="nudge(0, 1)" ng-disabled="mode != 'normal'">
                <span class="icon-down"></span>
                </button>
              </label>
              <label class="btn">
                <button type="button" ng-click="clear()" ng-disabled="mode != 'normal'">
                <span class="icon-clear"></span>
                </button>
              </label>
              <label class="btn">
                <button type="button" ng-click="invert()" ng-disabled="mode != 'normal'">
                <span class="icon-invert"></span>
                </button>
              </label>
              <label class="btn">
                <button type="button" ng-click="doLifeStep()" ng-disabled="mode != 'normal'">
                <span class="icon-life"></span>
                </button>
              </label>
              <label class="btn" ng-class="{'blink': mode == 'copy'}">
                <button type="button" ng-click="copyStart()">
                <span class="icon-copy"></span>
                </button>
              </label>
              <label class="btn" ng-class="{'active': canUndo()}">
                <button type="button" ng-click="undo()" ng-disabled="!canUndo() || mode != 'normal'">
                <span class="icon-undo"></span>
                </button>
              </label>
              <label class="btn" ng-class="{'active': canRedo()}">
                <button type="button" ng-click="redo()" ng-disabled="!canRedo() || mode != 'normal'">
                <span class="icon-redo"></span>
                </button>
              </label>
            </div>
            <div class="frame"
             ng-mousedown="penDown($event)" ng-touchstart="penDown($event)"
             ng-mousemove="penOver($event)" ng-touchmove="penOver($event)"
             ng-mouseup="penUp($event)" ng-touchend="penUp($event)"
             >
              <pixel-canvas pixels="currentFrame" width="800" height="400"></pixel-canvas>
            </div>
        </div> 
        <div class="previews">
           <div class="previewwrap" ng-repeat="frame in frames" ng-class="{'active': $index==$parent.currentFrameNum, 'blink': $index==$parent.currentFrameNum && mode == 'copy'}" ng-click="previewClick($index);" on-finish-render="ngRepeatFinished">
            <canvas width="64" height="32" id="preview{{$index}}"> </canvas>
            <span>{{$index + 1}}</span>
           </div>
           <div class="export">
            <span>Export! &nbsp;<a href="{{getExportURL()}}" target="_blank">&nbsp;</a></span> 
           </div>
           <div class="previewwrapani">
            <canvas width="64" height="32" id="previewani"></canvas>
            <span>&nbsp;Preview</span>
           </div>
        </div>
      </div>
      <div class="manual" ng-class="{'show': showManual}" ng-click="showManual = !(showManual)">
        <div class="paper">
          <h2>Super Micro Paint</h2>
          <h3>Intro</h3>
          <p>Welcome to the micro world! Create micro drawings on the go! Bring your drawings to life with four fantastic frames of action! Save your favorite creations to your Personal Computer!</p>
          <h3>Diagram</h3>
          <img src="assets/images/diagram2x.png" height="330" width="505">
          <h3>Drawing Tools</h3>
              - Start drawing on white pixels to draw with black pixels.
          <br>- Start drawing on black pixels to draw with white pixels.
          <ul>
            <li><span class="icon-pencil"></span><b>Pencil</b> - Touch in the Drawing Area to draw. You can also drag. 
            <li><span class="icon-fill"></span><b>Paint Blop</b> - Touch in the Drawing Area to fill an enclosed region.
            <li><span class="icon-line"></span><b>Line</b> - Drag your finger to draw a straight line.
            <li><span class="icon-square"></span><b>Square / Rectangle</b> - Drag  your finger from corner to corner to draw rectangle.
            <li><span class="icon-circle"></span><b>Circle / Ellipse</b> - Drag your corne from center to circumference to draw ellipse.
          </ul>
          <h3>Frame Tools</h3>
          <ul>
            <li><span class="icon-up"></span><span class="icon-left"></span><span class="icon-down"></span><span class="icon-right"></span><b>Nudge</b> - Touch a nudge arrow to move the entire drawing one pixel in the direction indicated by the arrow. The drawing will wrap around the edges.
            <li><span class="icon-clear"></span><b>Clear</b> - Erase the entire frame.
            <li><span class="icon-invert"></span><b>Invert</b> - Invert the colors of the drawing.
            <li><span class="icon-life"></span><b>Life</b> - The miracle of life.
            <li><span class="icon-copy"></span><b>Copy</b> - Touch this tool once to enter copy mode. Then touch a frame selector to copy the current frame to. Touch the copy tool again to cancel.
            <li><span class="icon-undo"></span><b>Undo</b> - Touch to fix your mistake.
            <li><span class="icon-redo"></span><b>Redo</b> - Touch to fix your mistaken undo.
          </ul>
          <h3>Frame Selectors</h3>
          Touch these to select different frames of your animation.
          <h3>Drawing Area</h3>
          This is where you create your masterpiece.
          <h3>Animation Preview</h3>
          Watch your animation in a continuous loop.
          <h3>Export Button</h3>
          Press this button to export your masterpiece to your Personal Computer using the Super Export Cable.
        </div>
      </div>
      <a class="github sticker" href="https://github.com/walsh9/super-micro-paint/" target="_blank"><img src="assets/images/github-sticker.png" height="200" width="200"></a>
      <a class="twitter sticker" href="https://twitter.com/supermicropaint/" target="_blank"><img src="assets/images/twitter-sticker.png" height="200" width="200"></a>
      </div>
    </body>
</html>