<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Super Micro Paint</title>
        <link href='//fonts.googleapis.com/css?family=Fugaz+One' rel='stylesheet' type='text/css'>
        <link href="style.css" rel="stylesheet">
        <link href="icomoon/style.css" rel="stylesheet">
        <script src="array2d.js"></script>
        <script src="super-pixel-grid.js"></script>
        <script src="lib/lodash.min.js"></script>
        <script src="lib/jquery.min.js"></script>
        <script src="lib/angular.min.js"></script>
        <script src="app.js"></script>
        <meta name="viewport" content="width=950">
    </head>
    <body ng-app="super-micro-paint" ng-controller="MainCtrl" ng-touchcancel="penUp($event)">
      <div class="case">
        <h1>Super Micro Paint</h1>
        <div class="container">
            <div class="tools drawing-tools">
              <label class="btn" ng-class="{'active': activeTool == 'pencil'}">
                <input type="radio" name="tool" ng-model="activeTool" value="pencil" checked ng-disabled="mode != 'normal'">
                <span class="icon-pencil" />
              </label>
              <label class="btn" ng-class="{'active': activeTool == 'fill'}">
                <input type="radio" name="tool" ng-model="activeTool" value="fill" ng-disabled="mode != 'normal'">
                <span class="icon-fill" />
              </label>
              <label class="btn" ng-class="{'active': activeTool == 'line'}">
                <input type="radio" ng-model="activeTool" value="line" ng-disabled="mode != 'normal'">
                <span class="icon-line" />
              </label>
              <label class="btn" ng-class="{'active': activeTool == 'rectangle'}">
                <input type="radio" ng-model="activeTool" value="rectangle" ng-disabled="mode != 'normal'">
                <span class="icon-square" />
              </label>
              <label class="btn" ng-class="{'active': activeTool == 'ellipse'}">
                <input type="radio" ng-model="activeTool" value="ellipse" ng-disabled="mode != 'normal'">
                <span class="icon-circle" />
              </label>
            </div>
            <div class="tools picture-tools">
              <label class="btn">
                <button type="button" ng-click="nudge(-1, 0)" ng-disabled="mode != 'normal'">
                <span class="icon-left" />
                </button>
              </label>
              <label class="btn">
                <button type="button" ng-click="nudge(1, 0)" ng-disabled="mode != 'normal'">
                <span class="icon-right" />
                </button>
              </label>
              <label class="btn">
                <button type="button" ng-click="nudge(0, -1)" ng-disabled="mode != 'normal'">
                <span class="icon-up" />
                </button>
              </label>
              <label class="btn">
                <button type="button" ng-click="nudge(0, 1)" ng-disabled="mode != 'normal'">
                <span class="icon-down" />
                </button>
              </label>
              <label class="btn">
                <button type="button" ng-click="clear()" ng-disabled="mode != 'normal'">
                <span class="icon-clear" />
                </button>
              </label>
              <label class="btn">
                <button type="button" ng-click="invert()" ng-disabled="mode != 'normal'">
                <span class="icon-invert" />
                </button>
              </label>
              <label class="btn">
                <button type="button" ng-click="doLifeStep()" ng-disabled="mode != 'normal'">
                <span class="icon-life" />
                </button>
              </label>
              <label class="btn" ng-class="{'blink': mode == 'copy'}">
                <button type="button" ng-click="copyStart()">
                <span class="icon-copy" />
                </button>
              </label>
              <label class="btn" ng-class="{'active': canUndo()}">
                <button type="button" ng-click="undo()" ng-disabled="!canUndo() || mode != 'normal'">
                <span class="icon-undo" />
                </button>
              </label>
              <label class="btn" ng-class="{'active': canRedo()}">
                <button type="button" ng-click="redo()" ng-disabled="!canRedo() || mode != 'normal'">
                <span class="icon-redo" />
                </button>
              </label>
              <label class="btn">
                <button type="button" ng-click="save()" ng-disabled="mode != 'normal'">
                <span class="icon-save" />
                </button>
              </label>
            </div>
            <div class="frame"
             ng-mousedown="penDown($event)" ng-touchstart="penDown($event)"
             ng-mousemove="penOver($event)" ng-touchmove="penOver($event)"
             ng-mouseup="penUp($event)" ng-touchend="penUp($event)"
             >
              <pixel-canvas pixels="currentFrame" width="800" height="400"/>
            </div>
        </div> 
        <div class="previews">
           <div class="previewwrap" ng-repeat="frame in frames" ng-class="{'active': $index==$parent.currentFrameNum, 'blink': $index==$parent.currentFrameNum && mode == 'copy'}" ng-click="previewClick($index);" on-finish-render="ngRepeatFinished">
            <canvas width="64" height="32" id="preview{{$index}}"> </canvas> 
           </div>
           <div class="previewwrapani">
            <canvas width="64" height="32" id="previewani"></canvas>
           </div>
        </div>
      </div>
      <div class="manual" ng-class="{'show': showManual}" ng-click="showManual = !(showManual)">
        <h2>Instructions</h2>
        <h3>Super Micro Paint</h3>
        Create mini drawings! Create mini animations! Four frames of action!
        <ul>
          <li>Top Right - Drawing Tools
          <li>Top Left - Other Tools
          <li>Center - Main Canvas.  This is where you create your masterpiece.
          <li>Bottom Left - Frame previews and selectors. Touch these to switch frames.
          <li>Bottom Right - Animation preview. Cycles the four frames of your animation.
        </ul>
        <h3>Drawing Tools</h3>
        Start drawing on white to draw with black pixels. Start drawing on black to draw with white pixels.
        <ul>
          <li><span class="icon-pencil" /> <b>Pencil</b> - Click or tap to draw. You can also drag. 
          <li><span class="icon-fill" /> <b>Paint Blop</b> - Click or tap to fill an area.
          <li><span class="icon-line" /> <b>Line Tool</b> - Drag to draw a straight line.
          <li><span class="icon-square" /> <b>Square &amp; Rectangle Tool</b> - Drag to draw a rectangle. Draws from one corner to opposite corner.
          <li><span class="icon-circle" /> <b>Circle &amp; Ellipse Tool</b> - Drag to draw an ellipse. The center will be where you started dragging
        </ul>
        <h3>Other Tools</h3>
        Most of these affect the whole frame.
        <ul>
          <li><span class="icon-left" /> <span class="icon-right" /> <span class="icon-up" /> <span class="icon-down" /> <b>Nudge Buttons</b> - Nudge the drawing by one pixel in a direction. This tool will wrap around the edges.
          <li><span class="icon-clear" /> <b>Clear</b> - Erase the whole frame.
          <li><span class="icon-invert" /> <b>Negative</b> - Invert the colors of the drawing.
          <li><span class="icon-life" /> <b>Life</b> - The miracle of life.
          <li><span class="icon-copy" /> <b>Copy</b> - Click this button once to copy the current frame. Then click the frame to copy to in the bottom left. Or click the copy button again to cancel.
          <li><span class="icon-undo" /> <b>Undo</b> - Fix your mistake.
          <li><span class="icon-redo" /> <b>Redo</b> - Hold on, that wasn't a mistake. Put it back.
          <li><span class="icon-save" /> <b>Save</b>

      </div>
    </body>
</html>