<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Super Micro Paint</title>
        <link href="style.css" rel="stylesheet">
        <link href="icomoon/style.css" rel="stylesheet">
        <script src="/array2d.js"></script>
        <script src="/super-pixel-grid.js"></script>
        <script src="/lib/lodash.min.js"></script>
        <script src="/lib/jquery-2.1.1.min.js"></script>
        <script src="/lib/angular.min.js"></script>
        <script src="app.js"></script>
    </head>
    <body ng-app="super-micro-paint" ng-controller="MainCtrl">
        <div class="container">
            <div class="btn-group tools">
              <label class="btn btn-primary" ng-class="{true: 'active', false: ''}[activeTool == 'pencil']">
                <input type="radio" name="tool" ng-model="activeTool" value="pencil" checked>
                <span class="icon-pencil" />
              </label>
              <label class="btn btn-primary" ng-class="{true: 'active', false: ''}[activeTool == 'fill']">
                <input type="radio" name="tool" ng-model="activeTool" value="fill">
                <span class="icon-fill" />
              </label>
              <label class="btn btn-primary" ng-class="{true: 'active', false: ''}[activeTool == 'line']">
                <input type="radio" ng-model="activeTool" value="line">
                ／
              </label>
              <label class="btn btn-primary">
                <input type="radio" ng-model="activeTool" value="rectangle" disabled>
                <span class="icon-square" />
              </label>
              <label class="btn btn-primary">
                <input type="radio" ng-model="activeTool" value="circle" disabled>
                <span class="icon-circle" />
              </label>
              <label class="btn btn-primary">
                <input type="radio" ng-model="activeTool" value="select" disabled>
                <span class="icon-select" />
              </label>
              <label class="btn btn-primary">
                <button type="button" ng-click="doLifeStep()">
                <span class="icon-life" />
                </button>
              </label>
              <label class="btn btn-primary" ng-class="{true: 'active', false: ''}[canUndo()]">
                <button type="button" ng-click="undo()" ng-disabled="!canUndo()">
                <span class="icon-undo" />
                </button>
              </label>
              <label class="btn btn-primary" ng-class="{true: 'active', false: ''}[canRedo()]">
                <button type="button" ng-click="redo()" ng-disabled="!canRedo()">
                <span class="icon-redo" />
                </button>
              </label>
              <label class="btn btn-primary">
                <input type="radio" disabled>
                <span class="icon-save" />
              </label>
            </div>
            <div class="tab-content">
                <div class="tab-pane" ng-class="{true: 'active', false:''}[$first]" id="{{$index + 1}}">
                    <div class="frame"
                     ng-mousedown="penDown($event)"
                     ng-mouseover="penOver($event)"
                     ng-mouseup="penUp($event)"
                     >
                        <div ng-repeat="y in range(height) track by $index" class="row">
                            <span ng-repeat="x in range(width) track by $index" class="pixel" ng-class="{false: 'pixel-off', true: 'pixel-on'}[getDisplayPixel($index, $parent.$index)]" data-index="{{$index}},{{$parent.$index}},{{currentFrame}}"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-group frameselect">
              <label class="btn btn-primary" ng-repeat="frame in frames" ng-class="{true:'active', false:''}[$index==$parent.currentFrame]">
                <input type="radio" value="{{$index}}" name="test" ng-model="$parent.currentFrame">
                <span class="icon-frame-{{$index + 1}}" />
              </label>
            </div>
        </div>
    </body>
</html>