<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta charset="UTF-8">
        <title>Super Micro Paint</title>
        <link href='//fonts.googleapis.com/css?family=Fugaz+One' rel='stylesheet' type='text/css'>
        <link href="../assets/css/show.css" rel="stylesheet">
        <link href="../assets/icomoon/style.css" rel="stylesheet">
        <script src="../assets/lib/lodash.min.js"></script>
        <script src="../assets/lib/gif.js"></script>
        <script src="../assets/lib/array2d.js"></script>
        <script src="../assets/lib/super-pixel-grid.js"></script>
        <script src="../assets/lib/jquery.min.js"></script>
        <script src="../assets/lib/angular.min.js"></script>
        <script src="../app/components/gif/gfycat.js"></script>
        <script src="../app/components/gif/gifController.js"></script>
</head>
<body ng-app="super-micro-paint" ng-controller="gifController">
    <div id="output">
    </div>
    <div>
        <label>Mode:  <select ng-model="renderMode" ng-options="k as k for (k, v) in renderModes" ng-change="modeChanged()"></select></label>

        <label>Color Scheme:  <select ng-model="colors" ng-options="k as k for (k, v)  in renderModes[renderMode].colors" ng-change="colorsChanged()"></select></label>

        <label>Scale:  <select ng-model="scale" ng-options="s.scale as s.label for s  in scales | filter:validScale" ng-change="scaleChanged()"></select></label>

        <label>Speed:  <select ng-model="delay" ng-options="s.delay as s.label for s  in speeds" ng-change="speedChanged()"></select></label>

        <label>Invert:  <input type="checkbox" ng-model="invert" ng-options="s.delay as s.label for s  in speeds" ng-change="invertChanged()"></select></label>

        <div class="actions">
        <button ng-click="upload()" ng-disabled="!isReady">Upload to gfycat</button><a href="http://gfycat.com/{{gfyName}}#?format=gif" target="_blank">{{gfyName}}</a>
    </div>
</body>
</html>