body {
    margin: 0;
    background: #089;
}
#top {
    margin: 0 0 20px 0;    
    padding: 20px 0 0 0;
    width: 100%;
    background: #789;
    border-bottom: 5px solid #567;
    border-top: 5px solid #567;
}
h1 {
    font-family: sans-serif;
    text-align: center;
    font-size: 28px;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
#output {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    margin: auto;
    position: relative;
    height: 280px;
}
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(360deg);
    }
}
.loading::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 3px #888, inset 0 0 3px #888;
    border-radius: 50%;
    border-right: 10px solid #e0e0e0;
    border-left: 10px solid #e0e0e0;
    border-top: 10px solid #222;
    border-bottom: 10px solid #222;
    -webkit-animation: 1.5s spin linear infinite;
    animation: 1.5s spin linear infinite;
}
label {
    display: block;
}
#controls {
    width: 500px;
    margin: auto
}
label input, label select{
    width: 200px;
    margin-left: 5px;
}
label span {
    font-family: sans-serif;
    font-size: 14px;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    display: inline-block;
    text-align: right;
    font-weight: bold;
    width: 145px;
}
h2 {
    font-family: sans-serif;
    text-align: center;
    font-size: 16px;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
button {
    margin-left: 150px;
    width: 200px;
}
a.btn {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
    background-color:#ffffff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#222;
    font-family:arial;
    font-size:11px;
    padding: 2px 0;
    text-align: center;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
a.btn:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
    background-color:#f6f6f6;
}
a.btn:active {
    position:relative;
    top:1px;
}
.postupload a img {
    display: block;
    margin-left: 154px;
    width: 192px;
}
.postupload a.tweet {
    margin-left: 150px;
    margin-bottom: 5px;
    width: 200px;
}

