html, body {
    height: 1250px;
    margin: 0;
    padding: 0;
}
body {
    /* thanks subtlepatterns.com */
    background: url("../images/retina_wood.png") repeat;
}
html:after {
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}
.case::before {
/* Super Export Cable */
    content: "";
    position: absolute;
    width: 20px;
    height: 400px;
    top: -401px;
    left: 650px;
    background: black;
    background: -webkit-linear-gradient(left, #c3c3c3,  #e3e3e3 40%, #a4a4a4);
    background: -moz-linear-gradient(left, #c3c3c3,  #e3e3e3 40%, #a4a4a4);
    background: -ms-linear-gradient(left, #c3c3c3,  #e3e3e3 40%, #a4a4a4);
    background: -o-linear-gradient(left, #c3c3c3,  #e3e3e3 40%, #a4a4a4);
    background: linear-gradient(left, #c3c3c3,  #e3e3e3 40%, #a4a4a4);
}
.case {
    padding: 10px 0 0 0;
    width: 850px;
    margin: 10px auto;
    border-radius: 10px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: 5px 5px 3px gray;
    border-top:         1px solid rgba(255,255,255,0.8);
    border-bottom:      1px solid rgba(0,0,0,0.1);
    background-image:   -webkit-gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) ));
    background-image:   -webkit-radial-gradient(top, ellipse cover, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 100%);
    background-image:   -moz-radial-gradient(top, ellipse cover, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 100%);
    background-image:   -ms-radial-gradient(top, ellipse cover, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 100%);
    background-image:   -o-radial-gradient(top, ellipse cover, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 100%);
    background-image:   radial-gradient(top, ellipse cover, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 100%);
    background-image:   gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) ));
    background-color:   hsl(0, 0%, 75%);
    color:              hsl(39, 100%, 30%) !important;
    background-color:   hsl(39, 100%, 50%);

    -webkit-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
                            hsl(39, 100%, 40%) 0 .1em 3px, hsl(39, 100%, 30%) 0 .3em 1px, /* color border */
                            rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
    -moz-box-shadow:    inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
                            hsl(39, 100%, 40%) 0 .1em 3px, hsl(39, 100%, 30%) 0 .3em 1px, /* color border */
                            rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
    box-shadow:         inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
                            hsl(39, 100%, 40%) 0 .1em 3px, hsl(39, 100%, 30%) 0 .3em 1px, /* color border */
                            rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
    transition: 0.8s ease-out;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.case.hide {
    transition: 0.8s ease-out;
    -webkit-transform: translate3d(0, -620px, 0);
    -moz-transform: translate3d(0, -620px, 0);
    transform: translate3d(0, -620px, 0);
    cursor: pointer;
}
h1 {
    height: 53px;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    font-family: 'Fugaz One', sans-serif;
    font-size: 36px;
    text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.55), 1px 1px 0px rgba(0, 0, 0, 0.55);
}

.container {
    background-color: rgb(220,240,230);
    width: 814px;
    margin: 10px auto;
    box-shadow: inset 0px 0px 10px #888;
    border: 2px solid rgb(120, 140, 130);
    border-radius: 5px;
    padding: 5px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
}
.container {
    -ms-touch-action: none;
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}
.picture-tools {
    position: absolute;
    right: 8px;
    top: 5px;
}
.previews {
    width: 828px;
    margin: 10px 5px; 
    padding: 0;
}
.previewwrapani {
    float: right;
}
.previewwrap, .previewwrapani {
    display: inline-block;
    background-color: rgb(220,240,230);
    width: 66px;
    height: 34px;
    margin: 10px 5px;
    box-shadow: inset 0px 0px 10px #888;
    border: 2px solid rgb(120, 140, 130);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
.previewwrap canvas, .previewwrapani canvas{
    padding: 0.5px 0.5px 0.5px 0;
    position: absolute;
    border: 1px solid rgba(40, 40, 40, .05);
    border-radius: 2px;
}
pixel-canvas {
    height: 400px;
}
.previewwrap.active canvas {
    border: 1px solid rgba(40, 40, 40, .45);
}
.previewwrap.blink canvas {
    -webkit-animation: blinky-preview  0.8s steps(1) 0s infinite;
    animation: blinky-preview  0.8s steps(1) 0s infinite;    
}
.previewwrap span, .previewwrapani span {
    position: absolute;
    bottom: -8px;
    display: block;
    margin-left: 30px;
    font-family: "Fugaz One", sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.55), 1px 1px 0px rgba(0, 0, 0, 0.55);
}
.previewwrapani span { 
    margin-left: 0;
}
@-webkit-keyframes blinky-preview {
    0% { border: 1px solid rgba(40, 40, 40, .45);}
    50% { border: 1px solid rgba(40, 40, 40, .05);}
}
@keyframes blinky-preview {
    0% { border: 1px solid rgba(40, 40, 40, .45);}
    50% { border: 1px solid rgba(40, 40, 40, .05);}
}
.icon-line:before {
    content: "ï¼";
    font-family: sans-serif;
}
.btn {
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    padding: 6px;
    margin: 2px;
    border-width: 0px;
    color: rgba(40, 40, 40, .05);
    box-shadow: none;
    background-color: transparent;
}
.btn, .btn span  {
    border-width: 0px;
    color: rgba(40, 40, 40, .85);
    background-color: transparent;
    box-shadow: none;
    text-shadow: 1px 1px 2px #888;     
    display: inline-block;
    width: 22px;
    height: 22px;
    font-size: 16px;
}
.btn > input[type="radio"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.btn button {
    border: none;
    padding: 0;
    margin: 0;
    color: rgba(40, 40, 40, .85);
    background-color: transparent;
    box-shadow: none;
    text-shadow: 1px 1px 2px #888;
    cursor: pointer;
}
.btn button[disabled] span {
    color: rgba(40, 40, 40, .05);
    text-shadow: none;
}
.btn > input[type="radio"] + span:before {
    vertical-align: middle;
    text-align: center;
    width: 22px;
    height: 22px;
}
.btn > input[type="radio"] + span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(40, 40, 40, .05);
    border-radius: 3px;
}
.btn.active > input[type="radio"] + span {
    border: 1px solid rgba(40, 40, 40, .85);
    box-shadow: 1px 1px 2px #888, inset 1px 1px 2px #888;
}
.btn > input[type="radio"][disabled] + span {
    border-width: 0px;
    color: rgba(40, 40, 40, .05);
    box-shadow: none;
    background-color: transparent;
    text-shadow: none;
}
.btn.blink button span::before {
    -webkit-animation: blinky-button  0.8s steps(1) 0s infinite;
    animation: blinky-button  0.8s steps(1) 0s infinite;
}
@-webkit-keyframes blinky-button {
    0% {
        color: rgba(40, 40, 40, .85);
        text-shadow: 1px 1px 2px #888;   
    }
    50% {
        color: rgba(40, 40, 40, .05);
        text-shadow: none;
    }
}
@keyframes blinky-button {
    0% {
        color: rgba(40, 40, 40, .85);
        text-shadow: 1px 1px 2px #888;   
    }
    50% {
        color: rgba(40, 40, 40, .05);
        text-shadow: none;
    }
}
.row {
    padding: 0;
    margin: 0px 7px;
    height: 25px;
}
.pixel {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 0 0px;
    background-color: transparent;
}
.pixel::after {
    content: '';
    display:block;
    width: 23px;
    height: 23px;
    position: relative;
    top: 1px;
    left: 1px;    
}
.pixel-off::after {
    background-color: rgba(40, 40, 40, .05);
}
.pixel-on::after {
    background-color: rgba(40, 40, 40, .85);
    box-shadow: 1px 1px 2px #888;
}
.frame canvas {
    margin: 0 7px;
}
.manual {
    font-family: Helvetica, "Droid Sans", sans-serif;
    font-size: 13px;
    z-index: 1;
    position: absolute;
    top: 40px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 700px;
    transition: 0.4s ease-out;
    -webkit-transform: translate3d(-170px, 0, 0) rotate(-20deg);
    -moz-transform: translate3d(-170px, 0, 0) rotate(-20deg);
    transform: translate3d(-170px, 0, 0) rotate(-20deg);
    cursor: pointer;
}
.manual.show {
    transition: 0.4s ease-out;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.manual::after {
    content: "";
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 32px;
    background: rgba(100, 100, 0, 0.10);
    transition: 0.4s ease-out;
}
.manual.show:after {
    backgaround: rgba(0, 0, 0, 0);
    opacity: 0;
    transition: 0.4s ease-out;
}
.paper {
    color: rgba(0, 0, 119, 0.75);
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 636px;
    padding: 32px;
    margin-bottom: 32px;
    z-index: 1;
    box-shadow: 0 0 5px #888, inset 0 0 25px rgba(50, 50, 0, 0.25);
    background: rgb(230,230,230);
    background: -webkit-linear-gradient(top, rgba(255,255,255, 1),  rgba(230,230,200, 1) 50%, rgba(255,255,255, 1) 51%, rgba(230,230,200, 1));
    background: -moz-linear-gradient(top, rgba(255,255,255, 1),  rgba(230,230,200, 1) 50%, rgba(255,255,255, 1) 51%, rgba(230,230,200, 1));
    background: -ms-linear-gradient(top, rgba(255,255,255, 1),  rgba(230,230,200, 1) 50%, rgba(255,255,255, 1) 51%, rgba(230,230,200, 1));
    background: -o-linear-gradient(top, rgba(255,255,255, 1),  rgba(230,230,200, 1) 50%, rgba(255,255,255, 1) 51%, rgba(230,230,200, 1));
    background: linear-gradient(top, rgba(255,255,255, 1),  rgba(230,230,200, 1) 50%, rgba(255,255,255, 1) 51%, rgba(230,230,200, 1));
}
.paper::before,
.paper::after {
    content: '';
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
}
.paper::before {
    top: 0;
    bottom: 50%;
    background: -webkit-linear-gradient(right, rgba(255,255,255, 0.25),  rgba(200,200,200, 0.25) 50%, rgba(255,255,255, 0.25) 51%, rgba(200,200,200, 0.25));
    background: -moz-linear-gradient(right, rgba(255,255,255, 0.25),  rgba(200,200,200, 0.25) 50%, rgba(255,255,255, 0.25) 51%, rgba(200,200,200, 0.25));
    background: -ms-linear-gradient(right, rgba(255,255,255, 0.25),  rgba(200,200,200, 0.25) 50%, rgba(255,255,255, 0.25) 51%, rgba(200,200,200, 0.25));
    background: -o-linear-gradient(right, rgba(255,255,255, 0.25),  rgba(200,200,200, 0.25) 50%, rgba(255,255,255, 0.25) 51%, rgba(200,200,200, 0.25));
    background: linear-gradient(right, rgba(255,255,255, 0.25),  rgba(200,200,200, 0.25) 50%, rgba(255,255,255, 0.25) 51%, rgba(200,200,200, 0.25));
}
.paper::after {
    top: 50%;
    bottom: 0;
    background: -webkit-linear-gradient(left, rgba(255,255,255, 0.25),  rgba(200,200,200, 0.25) 50%, rgba(255,255,255, 0.25) 51%, rgba(200,200,200, 0.25));  
    background: -moz-linear-gradient(left, rgba(255,255,255, 0.25),  rgba(200,200,200, 0.25) 50%, rgba(255,255,255, 0.25) 51%, rgba(200,200,200, 0.25));  
    background: -ms-linear-gradient(left, rgba(255,255,255, 0.25),  rgba(200,200,200, 0.25) 50%, rgba(255,255,255, 0.25) 51%, rgba(200,200,200, 0.25));  
    background: -o-linear-gradient(left, rgba(255,255,255, 0.25),  rgba(200,200,200, 0.25) 50%, rgba(255,255,255, 0.25) 51%, rgba(200,200,200, 0.25));  
    background: linear-gradient(left, rgba(255,255,255, 0.25),  rgba(200,200,200, 0.25) 50%, rgba(255,255,255, 0.25) 51%, rgba(200,200,200, 0.25));  
}
.previews {
    position: relative;
}
.export {
        position: absolute;
        top: 20px;
        right: 100px;
        height: 25px;
        line-height: 25px;
        padding: 0px;
        margin: 0;
        text-align: middle;
}
.export span {
    font-family: "Fugaz One", sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.55), 1px 1px 0px rgba(0, 0, 0, 0.55);
}
.export a {
    display: inline-block;
    border: 1px solid red;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.export a {
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
    background: -ms-linear-gradient(top,  #faa51a,  #f47a20);
    background: -o-linear-gradient(top,  #faa51a,  #f47a20);
    background: linear-gradient(top,  #faa51a,  #f47a20);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
    -webkit-box-shadow: -1px -1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: -1px -1px 2px rgba(0,0,0,.2);
    box-shadow: -1px -1px 2px rgba(0,0,0,.2);
    cursor: pointer;
}
.export a:active {
    color: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
    background: -ms-linear-gradient(top,  #f47a20,  #faa51a);
    background: -o-linear-gradient(top,  #f47a20,  #faa51a);
    background: linear-gradient(top,  #f47a20,  #faa51a);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}
.manual h2 {
    margin: 0;
    height: 35px;
    text-align: center;
    font-size: 24px;
    font-family: 'Fugaz One', sans-serif;   
}
.manual h3 {
    border-bottom: 1px solid rgba(0, 0, 119, 0.75);
    margin-bottom: 5px;
}
.manual img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.manual li {
    display: block;
}
.manual li span {
    display: inline-block;
    width: 0;
}
.manual li span:before {
    position: relative;
    left: -32px;
}
.manual li span + span:before {
    left: -16px;
}.manual li span + span + span:before {
    top: 16px;
    left: -32px;
}.manual li span + span + span + span:before {
    top: 16px;
    left: -16px;
}
.sticker {
    position: absolute;
    z-index: 0;
}
.github {
    right: 20px;
    top: 130px;
    transform: rotate(10deg);
}
.twitter {
    right: 60px;
    top: 360px;
}
button:focus {
    outline: 0;
}
a {
    outline: 0;
}
